@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Animated Gradient Background --- */
.bg-gradient-animate {
  background: linear-gradient(-45deg, #f6f6fa, #1d2dbd, #552591, #f0fdf4);
  background-size: 400% 400%;
  animation: gradientFlow 5s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
